*{
    margin: 0;
    padding: 0;
}
.logo-div{
    display: flex;
    justify-content: center;
    background-color:aliceblue;
 
}
.web-logo{
    width: 15%;
}

.nav-list{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
   
}

.nav-list li{
    margin: 20px 20px;
    list-style-type: none;
  font-size: 100%;
    
}

.nav-list li a{
    
    text-decoration: none;
    color: black;
   
   
}
.nav-list li a:hover{
    
    cursor: pointer;
 color: grey;
   
   
}
@media screen and (max-width: 768px) {
    /* Your CSS rules for smaller screens */

    .nav-list li{
        margin: 8px 8px;
    
      font-size: 90%;
        
    }

}